@charset "UTF-8";

/* Poppins:
font-family: 'Poppins', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Tektur: 
font-family: "Tektur", sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #93bfb7 url('../assets/wave.svg') no-repeat bottom center;
}   

#container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#generator {
    background: #93bfb7 url('../assets/bg-generator.svg') no-repeat center center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 12px #01403482; 
}

#box_generator {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    font-family: 'Tektur', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 20px;
    color: #2D3E40;
}

.character {
    align-self: center;
}

#character {
    border: 1px solid #014034;
    font-size: 1.1rem;
    width: 2.9rem;    
    height: 2rem;
    border-radius: 5px;
    text-align: center;
}

#character:focus {
    outline: none;
}

#checkbox {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.check {
    padding: 5px;
    border: 1px solid #014034;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

input[type='checkbox'] {
    accent-color: #014034;
}

input[type='checkbox']:hover {
    accent-color: #057f69;
}

#box_password {
    display: flex;
    gap: 5px;
    & #password {
        padding: 5px;
        border-radius: 5px;
        font-size: 1.1rem;
        border: 1px solid #014034;
    }
    & #password:focus {
        outline: none;
        border: 1px solid #014034;
    }
    & #btn_copy {
        background: none;
        color: #014034;
        font-size: 1.2rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color .5s ease-in-out, color .5s ease;
    }
    & #btn_copy:hover { 
        color: #038C73;
    }
}

#btn_generator {
    padding: 5px;
    border: none;
    background-color: #014034;
    border-radius: 5px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 300;
    cursor: pointer;
    transition: background-color .5s ease-in-out, box-shadow .5s ease-in;
}

#btn_generator:hover {
    background-color: #0F5959;
    box-shadow: 0 0 5px #0F5959;
}

@media (max-width: 480px)  {
    #generator {
        background: #93bfb7 url('../assets/wave.svg') no-repeat bottom center;
        min-width: 100vw;
        min-height: 100vh;
    }
}
